/* 브라우저 제목 */
header {
  background-color: aquamarine;
  text-align: center;
  height: 100px;
  padding-top: 40px;
  font-size: 40pt;
  font-weight: 700;
}

/* 검색창 */
#searchForm {
  background-color: bisque;
  padding-top: 15px;
  height: 50px;
  text-align: center;
}

#searchLabel {
  font-size: 15pt;
  font-weight: 700;
}

#searchInput {
  height: 30px;
  width: 50%;
  background-color: white;
  border-radius: 10px;
}

#searchInput:focus {
  background-color: transparent;
}

#searchBtn {
  width: 80px;
  height: 35px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
}

/* 영화 카드 리스트 */
#cardList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 50px;
}

.movieCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid navy;
}
